body {
		background-color: #eee;
}
h1 {
	margin: 0 20px;
	font-family: "Arial";
	color: #030100;
}
#nav a {
	padding:15px;
	color: #fff;
}
li {
	float: left;
	display:inline-block;
	list-syle: nome;
	margin: 2px;
	padding:15px;
	background-color: black;
}
ul {
	float: left;
}
h2 {
	margin: 0 20px;
}

