body {
		background-color: #eee;
}
#logoLink {
	float: left;
	color: black;
}
h1 {
	float: left;
	margin: 0 20px;
	font-family: "Arial";
	color: #030100;
}
#nav a {
	padding:15px;
	color: #fff;
}
#nav {
	float: right;
	margin-right: 15px;
}
#nav a:hover{
	text-decoration: none;
}

li {
	float: left;
	display:inline-block;
	list-syle: none;
	margin: 2px;
	padding:15px;
	background-color: black;
}
#content {
	clear: both;
	background-color: #fff;
	padding: 5px 20px 5px 20px;
	margin: 0 20px;
}
footer {
	float: left;
	padding: 5px;
	text-aling: right;
	border-bottom 1px solid #ddd;
}

